<ion-menu [attr.mobileMode]="app.mobileMode" side="end" menuId="settings" contentId="app-content">
  <ion-header>
    <ion-toolbar [attr.mobileMode]="app.mobileMode" translucent color="primary">
      <ion-title color="dark">Configurações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-button *ngIf="app.devMode" expand="block" color="dark" (click)="redirectTo('dev')">
        dev
      </ion-button>

      <ion-item (click)="app.toggleTheme()" disabled>
        <ion-icon *ngIf="app.theme == 'dark'" name="moon" slot="start"></ion-icon>
        <ion-icon *ngIf="app.theme == 'light'" name="sunny" slot="start"></ion-icon>
        <ion-label>Tema</ion-label>
      </ion-item>

      <ion-button expand="block" color="dark" (click)="redirectTo('test')">
        test
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
