@import "../../../theme/variables.scss";

ion-content {
  background-color: $primary;
  --background: $primary;
  color: $light;
  --color: $light;
}

table {
  width: 100%;
  // height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  // &[mobileMode="true"] {
  //   opacity: 1;
  // }
  // &[mobileMode="false"] {
  //   opacity: 1;
  // }

  .loginInputItem {
    border-radius: 10px;
    margin-top: 1%;
    // &[mobileMode="true"] {
    //   opacity: 1;
    // }
    // &[mobileMode="false"] {
    //   opacity: 1;
    // }

    ion-label {
      color: $primary;
      margin-right: 1%;
      // &[mobileMode="true"] {
      //   font-size: 5vw;
      // }
      // &[mobileMode="false"] {
      //   font-size: 5vw;
      // }

      ion-icon {
        fill: $primary;
        vertical-align: middle;
        // margin-bottom: -4%;
        &[mobileMode="true"] {
          font-size: 7vw;
        }
        &[mobileMode="false"] {
          font-size: 9vw;
        }
      }
    }

    ion-input {
      &[mobileMode="true"] {
        font-size: 4.5vw;
      }
      &[mobileMode="false"] {
        font-size: 5vw;
      }
    }

    #passwordPeek {
      fill: $primary;
      &[mobileMode="true"] {
        font-size: 6vw;
      }
      &[mobileMode="false"] {
        font-size: 6.5vw;
      }
    }

    .input-clear-icon.sc-ion-input-md {
      height: 3rem !important;
      width: 3rem !important;
      font-size: 6.5vw !important;
    }
  }

  #loginLastSteps {
    hr {
      width: 90%;
      margin-block: 1%;
      padding-block: 0.5%;
      background-color: $primary;
      border-radius: 15px;
      // &[mobileMode="true"] {
      //   opacity: 1;
      // }
      // &[mobileMode="false"] {
      //   opacity: 1;
      // }
    }

    ion-label {
      --color: $primary;
      color: $primary;
      &[mobileMode="true"] {
        font-size: 5vw;
      }
      &[mobileMode="false"] {
        font-size: 5vw;
      }
    }

    ion-checkbox {
      &[aria-checked="true"]::part(container) {
        border-color: $primary;
        background: $primary;
      }
      &[mobileMode="true"] {
        font-size: 1vw;
      }
      &[mobileMode="false"] {
        width: 4vw;
        height: 4vw;
      }
    }

    #loginButton {
      --background: $light;
      --color: $primary;
      background: $light;
      color: $primary;
      &[mobileMode="true"] {
        font-size: 5.5vw;
      }
      &[mobileMode="false"] {
        font-size: 4vw;
      }
    }
  }
}
