<div *ngIf="screenMode == 'step1'" id="searchDiv-wrapper">
  <div id="sideMenu">
    <div id="searchBar-wrapper">
      <input id="searchBar-input" type="text" placeholder="Search">
      <button id="searchButton">
        <img id="searchIcon" src="assets/SVGs/search.svg" alt="search-icon">
      </button>
    </div>

    <div id="buttonsDiv-wrapper">
      <button id="addButton" (click)="addRecord()">ADD</button>
      <button id="deleteButton" (click)="removeRecord()">DELETE</button>
    </div>

    <div id="arrayDiv">
      <div id="titleRow" class="arrayDivRow">
        <span>OS</span>
        <span>OP</span>
      </div>

      <div id="dataRow-wrapper">
        <div *ngFor="let item of exampleArray | keyvalue : defaultOrder" class="dataRow arrayDivRow" id="dataRowItem-{{item.key}}" [attr.isSelected]="item.key == selectedArrayItem" (click)="toggleSelectedItem(item.key)">
          <span>{{item.value['os']}}</span>
          <span>{{item.value['op']}}</span>
        </div>
      </div>
    </div>

    <button id="downloadButton" (click)="setScreenMode('step2')">START</button>
  </div>

  <div id="imagePreview-wrapper">
    <img *ngIf="selectedArrayItem != null && exampleArray[selectedArrayItem].img" id="imagePreview" [src]="exampleArray[selectedArrayItem].img" alt="image-preview" (click)="openPdf(exampleArray[selectedArrayItem].pdf)">
  </div>
</div>

<div *ngIf="screenMode == 'step2'" id="selectDiv-wrapper">
  <div id="galleryDiv">
    <div *ngFor="let item of exampleArray | keyvalue : defaultOrder" class="galleryItem" id="galleryItem-{{item.key}}" [attr.isRunning]="item.value.isRunning == 1" [attr.isSelected]="item.key == selectedGalleryItem" (click)="toggleSelectedGalleryItem(item.key)">
      <img [src]="item.value['img']">

      <span>{{item.value['os']}}</span>
      <span>{{item.value['op']}}</span>
      <span>${{item.value['budget']}}</span>

      <img *ngIf="item.value['pdf']" class="pdfFloatButton" src="assets/SVGs/document.svg" (click)="openPdf(item.value['pdf'])">
    </div>
  </div>

  <div id="toolbar">
    <div id="toolbar-left">
      <input id="os-input" type="text" disabled>

      <input id="amount-input" type="text">

      <div id="button-wrapper">
        <button id="cancelButton" (click)="setScreenMode('step1')">CANCEL</button>
        <button id="sendButton" (click)="run(exampleArray[selectedGalleryItem])">SEND</button>
      </div>
    </div>

    <div id="toolbar-right" *ngIf="exampleArray[selectedGalleryItem]">
      <button id="pdfButton" [disabled]="!exampleArray[selectedGalleryItem].img" (click)="openPdf(exampleArray[selectedGalleryItem].pdf)">PDF</button>
    </div>
  </div>
</div>
