@import "/src/styles.scss";

#searchDiv-wrapper {
  display: flex;
  height: auto;
  width: 100%;
  margin: 4%;
  padding: 2%;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  background: $light;

  #sideMenu {
    width: 33.3%;
    height: 100%;
    background: $medium;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    #searchBar-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      img {
        width: 35%;
        height: 35%;
      }

      input {
        color: $secondary;
        width: 100%;
        height: 50%;
        &::placeholder {
          color: $secondary;
        }
      }

      button {
        width: 50%;
        height: 50%;
        font-size: clamp(1vmax, 1vw, 1rem);
        background: $success;
      }
    }

    #arrayDiv {
      width: 100%;
      height: 100%;
      // height: auto;
      overflow: hidden;

      .arrayDivRow {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
      }

      #titleRow {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        & > * {
          background: $danger;
          color: $light;
          font-weight: bold;
        }
      }

      #dataRow-wrapper {
        overflow-y: scroll;
        width: 100%;
        height: 90%;
      }

      .dataRow {
        width: 100%;
        height: 10%;
      }
    }

    button {
      background: $success;
    }
  }

  #imagePreview-wrapper {
    width: 100%;
    height: 100%;
    background: $tertiary;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
