@import "/src/styles.scss";

#searchDiv-wrapper {
  display: flex;
  height: auto;
  width: 100%;
  margin: 4%;
  padding: 2%;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  background: $light;

  #sideMenu {
    width: 33.3%;
    height: 100%;
    background: $primary;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    #searchBar-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      input {
        background: $light;
        color: $secondary;
        width: 100%;
        height: 50%;
        &::placeholder {
          color: $secondary;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 65%;
        // font-size: clamp(1vmax, 1vw, 1rem);
        background: $secondary;

        img {
          width: 90%;
          height: 90%;
          background: none;
          // object-fit: cover;
          filter: invert(1);
        }
      }
    }

    #buttonsDiv-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-block: 5%;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        // height: 65%;
        color: $light;
        background: $secondary;
      }
    }

    #arrayDiv {
      width: 100%;
      height: 100%;
      // height: auto;
      overflow: hidden;

      .arrayDivRow {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
      }

      #titleRow {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        & > * {
          background: $medium;
          color: $light;
          font-weight: bold;
        }

        span {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: clamp(1vmax, 1vw, 1rem);
        }
      }

      #dataRow-wrapper {
        // overflow-y: scroll;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: 90%;

        * {
          background: $dark;
          color: $secondary;
          transition: 0.3s;
        }
      }

      .dataRow {
        width: 100%;
        height: 10%;
        min-height: 10%;
        max-height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          opacity: 0.7;
          background: $tertiary;
          cursor: pointer;
        }
        &[isSelected="true"] {
          &,
          * {
            background: $secondary !important;
            color: $light !important;
          }
        }

        span {
          font-size: clamp(1vmax, 1vw, 1rem);
          margin: 2%;
          word-wrap: break-word;
          text-overflow: ellipsis;
        }
      }
    }

    button {
      background: $secondary;
      color: $light;
    }
  }

  #imagePreview-wrapper {
    width: 100%;
    height: 100%;
    background: $tertiary;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    img {
      background: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

#selectDiv-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 4%;
  padding: 2%;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  background: $light;

  #galleryDiv {
    background: $tertiary;
    height: 66.6%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;

    .galleryItem {
      position: relative;
      background: $light;
      border: 10px solid $medium;
      border-radius: 20px;
      margin: 1%;
      padding: 1%;
      width: 10%;
      // height: 100%;
      height: 30%;
      // height: inherit;
      // height: min-content;
      // height: fit-content;
      // max-height: max-content;
      // max-height: inherit;
      // height: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      // transition: 0.3s;
      &:hover {
        opacity: 0.85;
        cursor: pointer;
      }
      &[isRunning="true"] {
        border: 10px solid $success;
        cursor: not-allowed;
      }
      &[isSelected="true"] {
        &,
        * {
          background: $secondary !important;
          color: $light !important;
        }
      }
      &,
      * {
        transition: 0.2s all;
      }

      img {
        width: 25%;
        height: 25%;
        background: none;
        object-fit: contain;
      }

      span {
        text-align: center;
      }

      .pdfFloatButton {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 15%;
        height: 15%;
        background: $danger !important;
        padding: 3.5%;
        border-radius: 50%;
        &:hover {
          // filter: invert(1);
          background: $warning !important;
          cursor: help;
        }
      }
    }
  }

  #toolbar {
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background: $primary;
    border-top: 5px solid $light;

    button {
      background: $secondary;
      color: $light;
    }

    #toolbar-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      #button-wrapper {
        display: flex;
        justify-content: space-between;
        width: 50%;
      }
    }

    #toolbar-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }
}
