<div id="searchDiv-wrapper">
  <div id="sideMenu">
    <div id="searchBar-wrapper">
      <input id="searchBar-input" type="text" placeholder="Search">
      <button id="searchButton">
        <img id="searchIcon" src="assets/svgs/search.svg" alt="search-icon">
      </button>
    </div>

    <div id="buttonsDiv-wrapper">
      <button id="addButton" (click)="addRecord()">ADD</button>
      <button id="deleteButton" (click)="removeRecord()">DELETE</button>
    </div>

    <div id="arrayDiv">
      <div id="titleRow" class="arrayDivRow">
        <span>OS</span>
        <span>ALIAS</span>
        <span>DATE</span>
        <span>OI</span>
        <span>XAU</span>
      </div>

      <div id="dataRow-wrapper">
        <div *ngFor="let item of exampleArray | keyvalue : defaultOrder" class="dataRow arrayDivRow" id="{{item.key}}" [attr.isSelected]="item.key == selectedArrayItem" >
          <span>{{item.value['os']}}</span>
          <span>{{item.value['alias']}}</span>
          <span>{{item.value['date']}}</span>
          <span>{{item.value['oi']}}</span>
          <span>{{item.value['xau']}}</span>
        </div>
      </div>
    </div>

    <button id="downloadButton">DOWNLOAD</button>
  </div>

  <div id="imagePreview-wrapper">
    <img id="imagePreview" src="assets/imgs/gear1.jpg" alt="image-preview">
  </div>
</div>
