@import "../theme/variables.scss";

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-header {
  ion-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    &[mobileMode="true"] {
      font-size: 3.2vw;
      margin-left: -15vw;
    }
    &[mobileMode="false"] {
      font-size: 4vw;
      margin-left: -7.5vw;
    }
  }

  ion-toolbar {
    --background: $light;
    background: $light;
    --color: $primary;
    color: $primary;
  }

  ion-button {
    // &[mobileMode="true"] {
    //   font-size: 5vw;
    // }
    // &[mobileMode="false"] {
    //   font-size: 4vw;
    // }

    ion-icon {
      // &[mobileMode="true"] {
      //   font-size: 5vw;
      // }
      &[mobileMode="false"] {
        font-size: 4.5vw;
      }
    }
  }
}

ion-router-outlet {
  position: relative;
  height: 100%;

  // z-index: 99;
  // &[mobileMode="true"] {
  //   margin-top: 14%;
  //   height: 84%;
  // }
  // &[mobileMode="false"] {
  //   margin-top: 7%;
  //   height: 90%;
  // }
}

ion-footer {
  ion-toolbar {
    text-align: center;
    --background: $light;
    --color: $primary;
    background: $light;
    color: $primary;
    &[mobileMode="true"] {
      font-size: 5vw;
      height: 4rem;
    }
    &[mobileMode="false"] {
      font-size: 4vw;
      height: auto;
    }
  }
}

#popover {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 20%;
  width: 60%;
  height: 8%;
  background-color: transparentize($primary, 0.1);
  border-radius: 10px;
  border: 2px solid $abradit-background-light;
  box-shadow: 0px 0px 10px 5px $primary;
  transition: 1s;
  z-index: 999;
  pointer-events: none;

  &.popover-active {
    display: flex;
  }

  ion-icon {
    fill: $abradit-success;
    position: relative;
    top: 0;
    left: 1%;
    &[mobileMode="true"] {
      font-size: 18vw;
    }
    &[mobileMode="false"] {
      font-size: 18vw;
    }
  }

  span {
    width: 100%;
    color: $abradit-text-light;
    font-size: 5vw;
    position: relative;
    top: 0;
    left: 2%;
    &[mobileMode="true"] {
      font-size: 5vw;
    }
    &[mobileMode="false"] {
      font-size: 5vw;
    }
  }
}

*[hideMe="true"] {
  opacity: 0;
  pointer-events: none;
}
