@import "../../../theme/variables.scss";

ion-content {
  background-color: $primary;
  --background: $primary;
  color: $light;
  --color: $light;
}

#menuHeader {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 10%;
  margin-block: 3%;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid $primary;
  background-color: transparentize($medium, 0.5);

  img {
    &[mobileMode="true"] {
      width: 12vw;
    }
    &[mobileMode="false"] {
      width: 12vw;
    }
  }

  span {
    &[mobileMode="true"] {
      font-size: 5vw;
    }
    &[mobileMode="false"] {
      font-size: 5vw;
    }
  }

  b {
    text-transform: capitalize;
    color: $primary;
  }
}

hr {
  background-color: $dark;
  padding: 0.5%;
  margin-block: 1%;
  border-radius: 30px;
  width: 90%;
}

.checklistButtons {
  --background: $primary;
  background: $primary;
  color: $light;
}

ion-button {
  margin-block: 0.75%;
  // &[mobileMode="true"] {
  //   font-size: 5vw;
  // }
  &[mobileMode="false"] {
    font-size: 4vw;
  }
}
