<ion-content [fullscreen]="true">
  <ion-button *ngIf="app.devMode" color="dark" expand="block" (click)="toggleDevMode()">dev mode [on]</ion-button>
  <ion-button *ngIf="!app.devMode" color="dark" expand="block" (click)="toggleDevMode()">dev mode [off]</ion-button>

  <br>

  <ion-item>
    <ion-label position="stacked">BASE_URL</ion-label>
    <ion-input #newUrl value="{{BASE_URL}}"></ion-input>
  </ion-item>
  <ion-button color="success" expand="block" (click)="updateBaseUrl(newUrl.value)">update url</ion-button>

  <br>

  <ion-button color="secondary" expand="block" (click)="selectAllFromTable('user')">select * user</ion-button>
  <ion-button color="secondary" expand="block" (click)="selectAllFromTable('vars')">select * vars</ion-button>

  <br>

  <!-- <ion-button color="warning" expand="block" (click)="resetDir('Checklists')">reset dir checklists</ion-button> -->

  <br>

  <ion-button color="danger" expand="block" (click)="dropTable('user')">drop user</ion-button>
  <ion-button color="danger" expand="block" (click)="dropTable('vars')">drop vars</ion-button>

  <br>

  <ion-button *ngFor="let page of allPages | keyvalue" expand="block" (click)="redirectTo(page.value)">
    {{page.value}}
  </ion-button>
</ion-content>
