@import "../../../theme/variables.scss";

ion-content {
  background-color: $primary;
  --background: $primary;
  color: $light;
  --color: $light;
}

#forceSyncButton {
  background-color: $primary;
  color: $secondary;
  padding: 1%;
  margin: 0.1%;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  position: relative;
  &[mobileMode="true"] {
    font-size: 4vw;
  }
  &[mobileMode="false"] {
    font-size: 4vw;
  }

  ion-icon {
    fill: $secondary;
    position: absolute;
    &[mobileMode="true"] {
      font-size: 5vw;
      left: 30%;
      top: 10%;
    }
    &[mobileMode="false"] {
      font-size: 4vw;
      left: 30%;
      top: 10%;
    }
  }
}

#logDiv {
  width: 100%;

  ion-title {
    margin-top: 5vh;
    text-align: center;
    color: $secondary;
    &[mobileMode="true"] {
      font-size: 3vw;
    }
    &[mobileMode="false"] {
      font-size: 5vw;
    }
  }

  table td, table th { overflow-wrap: anywhere; }

  table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;

    tr {
      width: 100%;
      &[separator="true"] {
        background: rgba($secondary, 0.2);
      }
      &[separator="false"] {
        background: rgba($primary, 0.2);
      }
    }

    th,
    td {
      padding: 0.5vw;
      border-bottom: $secondary 2px solid;
      border-right: $secondary 2px solid;
      border-left: $secondary 2px solid;
    }

    th {
      overflow-wrap: normal;
      background: $secondary;
      color: $mpi-text;
      border-right: $primary 2px solid;
      border-left: $primary 2px solid;
      text-align: center;
      &[mobileMode="true"] {
        font-size: 3vw;
      }
      &[mobileMode="false"] {
        font-size: 2vw;
      }
    }

    td:not(.tdMsg){
      overflow-wrap: normal;
    }

    td {
      color: darken($light, 10%);
    }

    #subtitles {
      &[mobileMode="true"] {
        padding: 0.5vw;
      }
      &[mobileMode="false"] {
        padding: 0.5vw;
      }

      td {
        border: none;
        border-bottom: $primary 2px solid;
        // background: lighten($secondary, 10%);
        // background: $secondary;
        background: $medium;
        color: $mpi-text;
        &[mobileMode="true"] {
          font-size: 4.4vw;
          padding-block: 1%;
        }
        &[mobileMode="false"] {
          font-size: 4vw;
        }
      }
    }

    // .tdId {
    //   overflow-wrap: normal;
    // }

    // .tdDate {
    //   overflow-wrap: normal;
    // }

    // .tdMsg {
    //   overflow-wrap: normal; //! THATS THE PROBLEM
    // }

    .spanField {
      display: flex;
      justify-content: center;
      align-items: center;
      &[mobileMode="true"] {
        font-size: 2.9vw;
      }
      &[mobileMode="false"] {
        font-size: 2vw;
      }
    }

    // .spanIdAgendamento {
    //   &[mobileMode="true"] {
    //     font-size: 2vw;
    //   }
    //   &[mobileMode="false"] {
    //     font-size: 2vw;
    //   }
    // }

    // .spanPlaca {
    //   &[mobileMode="true"] {
    //     font-size: 2vw;
    //   }
    //   &[mobileMode="false"] {
    //     font-size: 2vw;
    //   }
    // }

    // .spanData {
    //   &[mobileMode="true"] {
    //     font-size: 2vw;
    //   }
    //   &[mobileMode="false"] {
    //     font-size: 2vw;
    //   }
    // }

    // .spanStatus {
    //   &[mobileMode="true"] {
    //     font-size: 2vw;
    //   }
    //   &[mobileMode="false"] {
    //     font-size: 2vw;
    //   }
    // }

    // .spanChecklist {
    //   &[mobileMode="true"] {
    //     font-size: 2vw;
    //   }
    //   &[mobileMode="false"] {
    //     font-size: 2vw;
    //   }
    // }

    // .spanMensagem {
    //   &[mobileMode="true"] {
    //     font-size: 2vw;
    //   }
    //   &[mobileMode="false"] {
    //     font-size: 2vw;
    //   }
    // }
  }
}
