/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//* Add fonts
// @font-face {
//   font-family: "Montserrat";
//   src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
// }

@import "theme/variables.scss";

.modal-fullscreen {
  --width: 100%;
  --height: 100%;
  --border-radius: 0;

  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.ios .modal-fullscreen {
  .modal-wrapper {
    top: 26px;
  }
}

.alerts-fullscreen {
  --max-width: 100%;
  --width: 80%;
  --max-height: 100%;
  --height: 80%;
  --border-radius: 0;
}

.alerts-wrapper {
  position: absolute;
  --max-width: 100%;
  --width: 80%;
  --max-height: 100%;
  --height: 80%;
  --border-radius: 0;
  top: 0%;
  left: 0%;
  display: block;
  width: 100%;
  height: 100%;
}

.alert-wrapper {
  position: absolute;
  --max-width: 100%;
  --width: 80%;
  --max-height: 100%;
  --height: 65%;
  --border-radius: 0;
  top: 15%;
  left: 10%;
  // justify-content: space-between !important;
  // display: block;
  // width: 100%;
  // height: 100%;

  .alert-message {
    font-size: 5vw;
    // padding-block: 30%
  }

  .alert-button {
    --background: $abradit-dead !important;
    background: $abradit-dead !important;
    --border-radius: 10px;
    border-radius: 10px;

    .alert-button-inner {
      font-size: 5.2vw;
      font-weight: bolder;
      padding: 13%;
      text-align: center;
      margin-left: 13%;
    }
  }

  .alerts-cancel {
    color: $abradit-danger;
  }

  .alerts-accept {
    color: $abradit-success;
  }
}

.alert-head {
  color: $abradit-text-dark;
  font-size: 8vw;
  font-weight: bolder;

  .alert-title {
    color: $abradit-text-dark;
    font-size: 8vw;
    font-weight: bolder;
  }
}

.alert-cancel {
  color: $abradit-danger;
  // margin-right: 65%;
}

.alert-accept {
  color: $abradit-success;
}

.alert-button {
  .alert-button-inner {
    color: $abradit-success;
  }
}

.alert-button-role-cancel {
  .alert-button-inner {
    color: $abradit-danger;
  }
}

.select-interface-option {
  opacity: 1;
  --background: $abradit-dead;
  background: $abradit-dead;
  --border-radius: 10px;
  border-radius: 10px;
  &[aria-checked="true"] {
    .alert-radio-icon {
      border-color: $primary !important;

      .alert-radio-inner {
        background-color: $primary !important;
      }
    }

    .alert-radio-label {
      font-size: 5vw;
      color: $primary !important;
    }
  }

  .alert-button-inner {
    font-weight: bolder;
    padding: 0%;
    text-align: center;
    margin-left: 2%;

    .alert-radio-icon {
      width: 30px;
      height: 30px;

      .alert-radio-inner {
        width: 20px;
        height: 20px;
      }
    }

    .alert-radio-label {
      font-size: 5vw;
      color: $medium;
      text-align: left;
    }
  }
}

.ios .alerts-fullscreen {
  .alerts-wrapper {
    top: 26px;
  }
}

.alert-button-group {
  display: flex !important;
  // width: 100% !important;
  width: auto !important;
  flex-direction: row !important;
  align-items: center !important;
  flex-wrap: nowrap !important;
  margin-top: auto !important;
}

.alert-radio-group {
  max-height: none !important;
}

.actionSheet-fullscreen {
  --max-width: 100%;
  --width: 80%;
  --max-height: 100%;
  --height: 80%;
  --border-radius: 0;

  .action-sheet-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    // width: 100%;
    height: 100%;
  }

  .action-sheet-title {
    color: $abradit-text-dark;
    font-size: 3vw;
    font-weight: bolder;
  }

  .action-sheet-button {
    font-size: 2vw;
    color: $abradit-text-dark;
    padding-block: 3%;
  }

  .action-sheet-cancel {
    color: $abradit-danger;
    font-size: 2.5vw;
    background: lighten($abradit-danger, 40%);
  }

  .action-sheet-icon {
    font-size: 2vw;
  }
}

.ios .actionSheet-fullscreen {
  .action-sheet-wrapper {
    top: 26px;
  }
}
