@import "../../../theme/variables.scss";

ion-content {
  background-color: $primary;
  --background: $primary;
  color: $light;
  --color: $light;
}

canvas {
  display: block;
  border: 2px solid black;
  background-color: white;
  // width: 100%;
}

ion-accordion.accordion-collapsing,
ion-accordion.accordion-collapsed {
  border-bottom: 10px solid $primary;
  margin-bottom: 1%;

  ion-item[slot="header"] {
    --background: $mpi-text;
    background: $mpi-text;
    --color: $primary;
    color: $primary;

    ion-icon {
      fill: $primary;
      font-size: 9vw;
    }

    .custom-icon {
      font-size: 9vw;
      color: $primary;
      // fill: $primary;
    }
  }
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 10px);
  margin: 10px auto;
  border-bottom: 5px dashed $primary;

  ion-item[slot="header"] {
    --background: $primary;
    background: $primary;
    --color: $mpi-text;
    color: $mpi-text;

    ion-icon {
      fill: $mpi-text;
      font-size: 9vw;
    }

    .custom-icon {
      font-size: 9vw;
      color: $mpi-text;
      // fill: $mpi-text;
    }
  }

  // ion-list[slot="content"] {
  //   background: lighten($primary, 30%);
  // }
}

.accordion-check-icon {
  position: relative;

  img {
    // &[mobileMode="true"] {
    //   width: 10%;
    // }
    &[mobileMode="false"] {
      transform: scale(2);
    }
  }
}

.accordionTitle {
  margin-left: 4%;
  font-size: 5.5vw;
  font-weight: bold;
  // --color: $primary;
  // color: $primary;
}

ion-list[slot="content"] {
  ion-item {
    // border-bottom: 5px solid $warning;
    // --padding-bottom: 1%;
    // border-bottom: 4px solid transparent;
    // border-image: linear-gradient(0.25turn, rgb(53, 115, 75), rgb(255, 196, 9));
    // border-image-slice: 1;
    &:not(.noMargin) {
      margin-block: 2%;
    }
    // &.lastItem {
    //   border-bottom: none;
    // }
  }

  .segmentBreaker {
    margin-bottom: 0;
    padding-bottom: 3%;
    padding-top: 1%;
    &:not(.firstSegmentBreaker) {
      border-top: 5px solid $primary;
    }
  }

  .tireSizeDiv {
    display: flex;
    align-items: stretch;
    width: 100%;
    flex-direction: column;
  }

  .segmentDiv {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
  }

  .fieldLabel {
    display: contents;
    // white-space: nowrap;
    // word-wrap: break-word;
    --color: $primary;
    color: $primary;
    &[mobileMode="true"] {
      font-size: 4.1vw;
    }
    &[mobileMode="false"] {
      font-size: 4.1vw;
    }
  }

  .fieldInput {
    &[disabled] {
      --background-color: $medium;
      background-color: $medium;
    }
    &[mobileMode="true"] {
      font-size: 4vw;
    }
    &[mobileMode="false"] {
      font-size: 4vw;
    }
  }

  .fieldSegment {
    --background-color: lighten($medium, 20%);
    background-color: lighten($medium, 20%);
    border-radius: 10px;
    width: 100%;
    &[mobileMode="true"] {
      ion-label {
        font-size: 3.5vw;
      }

      ion-icon {
        font-size: 4.6vw;
      }
    }
    &[mobileMode="false"] {
      ion-label {
        font-size: 3vw;
        margin-bottom: 10%;
      }

      ion-icon {
        font-size: 3.5vw;
      }
    }

    ion-segment-button {
      --indicator-height: 6px;
      &[value="1"] {
        --indicator-color: #00963f;
        --background-checked: #8acca6;
        --color-checked: #0e4d28;
      }
      &[value="0"] {
        --indicator-color: #e20521;
        --background-checked: #da939d;
        --color-checked: #5e0813;
      }
      &[value="sim"] {
        --indicator-color: #00963f;
        --background-checked: #8acca6;
        --color-checked: #0e4d28;
      }
      &[value="nao"] {
        --indicator-color: #e20521;
        --background-checked: #da939d;
        --color-checked: #5e0813;
      }
      &[value="avaria"] {
        --indicator-color: #f7a622;
        --background-checked: #e9cea4;
        --color-checked: #6d4e1d;
      }
      &[value="boa"] {
        --indicator-color: #00963f;
        --background-checked: #8acca6;
        --color-checked: #0e4d28;
      }
      &[value="media"] {
        --indicator-color: #f7a622;
        --background-checked: #e9cea4;
        --color-checked: #6d4e1d;
      }
      &[value="ruim"] {
        --indicator-color: #e20521;
        --background-checked: #da939d;
        --color-checked: #5e0813;
      }
    }
  }

  .photoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .photoTitle {
      font-size: 6vw;
      font-weight: bold;
      // margin-bottom: 1%;
      padding-inline: 2%;
      color: $primary;
      // border-bottom: 5px solid $primary;
    }

    .photoInterface {
      border-top: 5px solid $primary;
      background: lighten($primary, 55%);
      border-radius: 15px;
      &[mobileMode="true"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-inline: 4%;
        padding: 2%;
      }
      &[mobileMode="false"] {
        display: flex;
        padding-inline: 5%;
        align-items: center;
        flex-direction: column;
      }
      // &[mobileMode="false"][isActive="true"] {
      //   padding-inline: 5%;
      // }

      img {
        // height: 100%;
        object-fit: contain;
        &[mobileMode="true"] {
          width: 25%;
          &.isActive {
            width: 60%;
          }
        }
        &[mobileMode="false"] {
          width: 95%;
          &.isActive {
            margin-top: 3%;
          }
        }
      }

      .photoButtons {
        // width: 50%;
        // border-left: 5px solid $primary;
        &[mobileMode="true"] {
          height: 100%;
          margin: 0 auto;
          margin-block: 1%;
          padding: 1%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        &[mobileMode="false"] {
          height: 100%;
          margin: 0 auto;
          margin-block: 1%;
          padding: 1%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
        }

        button {
          padding: 80%;
          border-radius: 15px;
        }

        .deleteButton {
          background-color: $danger;
          // margin-bottom: 70%;
          &[mobileMode="true"] {
            padding-block: 345%;
          }
          &[mobileMode="false"] {
            padding-block: 35%;
            padding-inline: 200%;
          }
        }

        .deleteButtonTire {
          background-color: $danger;
          // margin-bottom: 70%;
          &[mobileMode="true"] {
            padding-block: 150%;
          }
          &[mobileMode="false"] {
            margin-left: 30%;
            padding-block: 12%;
          }
        }

        .sendButtonTire {
          background-color: $success;
          // margin-bottom: 70%;
          &[mobileMode="true"] {
            padding-block: 150%;
          }
          &[mobileMode="false"] {
            padding-block: 12%;
          }
        }

        .saveButton {
          background-color: $success;
          margin-top: 70%;
        }

        ion-icon {
          font-size: 8vw;
          fill: $mpi-text;
        }
      }
    }
  }

  #clearPadButton {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    padding: 1%;
    margin-bottom: 1%;
    background-color: $danger;
    color: $mpi-text;
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-label {
      margin-left: 4%;
    }
  }
}

#submitButton {
  --background: $light;
  background: $light;
  color: $primary;
  // &[mobileMode="true"] {
  //   font-size: 13vw;
  // }
  // &[mobileMode="false"] {
  //   font-size: 13vw;
  // }

  ion-icon {
    fill: $primary;
    &[mobileMode="true"] {
      font-size: 8vw;
    }
    &[mobileMode="false"] {
      font-size: 6vw;
    }
  }

  ion-label {
    &[mobileMode="true"] {
      font-size: 8vw;
    }
    &[mobileMode="false"] {
      font-size: 7vw;
    }
  }
}

section {
  hr {
    margin: 0 auto;
    width: 90%;
    border: 6px solid $primary;
    border-radius: 5px;
    margin-block: 2%;
  }

  .sectionTitle {
    &[mobileMode="true"] {
      font-size: 8vw;
    }
    &[mobileMode="false"] {
      font-size: 7vw;
    }
  }
}
